# Environment and secrets
.env
.env.local
.env.*.local
.secret

# Dependencies
node_modules/
package-lock.json
yarn.lock

# Hardhat
cache/
artifacts/
typechain/
typechain-types/
coverage/
coverage.json

# Deployment & Verification
deployments/
.openzeppelin/

# IDE and Editor files
.idea/
.vscode/
*.swp
*.swo
.DS_Store
*.sublime*

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
hardhat.log

# Test coverage
coverage/
coverage.json

# Production build files
dist/
build/
out/

# Local development keys
**/keys/
**/private/

# Temporary files
*.tmp
*.temp
.history/
