.aboutus-container {
  max-width: 700px;
  margin: auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7); /* Fond noir transparent */
  border-radius: 8px;
  color: #ffffff;
  font-size: 1em;
  line-height: 1.5em;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Ajout d'une ombre légère */
}

.aboutus-container h2 {
  font-size: 1.8em;
  color: #ffd700;
  margin-bottom: 15px;
  text-align: center;
}

.aboutus-container h3 {
  font-size: 1.3em;
  color: #ffb347;
  margin-top: 20px;
}

.aboutus-container p,
.aboutus-container ul {
  margin-bottom: 15px;
}

.aboutus-container ul {
  padding-left: 20px;
}

.aboutus-container ul li {
  margin-bottom: 10px;
}
