/* DexAmm.css */
.dexamm-section {
  background-image: url('/src/assets/about-background.png'); /* Vous pouvez changer l'image si nécessaire */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.dexamm-container {
  max-width: 700px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7); /* Fond noir avec transparence */
  border-radius: 8px;
  color: #ffffff;
  font-size: 1em;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.dexamm-container h2 {
  font-size: 1.5em;
  color: #ffd700;
  margin-bottom: 15px;
}

.dexamm-container p {
  font-size: 1em;
  color: #cccccc;
}
